<a href="/dashboard">Back</a>
<h2>Create a new roleplay here</h2>


<%= form_for @roleplay, html: { multipart: true } do |f| %>

    <!--THIS IS ONLY IF JAVASCRIPT IS DISABLED; OTHEWISE HTML5 WILL HANDLE ERRORS-->
    <% @roleplay.errors.full_messages.each do |error| %>
        <%= error %><br>
    <%end%>
    <!----------------------------------------------------------------------------->

  <%= f.label :name, "Name" %><br>
  <%= f.text_field :name, required: true, :input_html => {:minlength => 3 , maxlength: 33}, :placeholder => "Name" %><br>

  <%= f.label  :image, "Avatar" %><br>
  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %><br>

  <%= f.label :description, "Description" %><br>
  <%= f.text_area :description, :placeholder => "Description", :input_html => {maxlength: 150}%><br>

  <%= f.submit "Create" %>


<% end %>