
<% for @message in @ghost_messages do %>
    <div class="message-card">
      <div class="row">
        <div class="col-1">
          <%= image_tag(@message.character.image(:thumb),  :class => 'card-img-left') %>
        </div>
        <div class="col mx-2">
          <small><%= @message.character.name%> says:</small>
          </br>
          <div class="mx-3">
            <% if @message.body.include?("<br>") %>
              <% @message.body.split("<br>").each do |text| %>
                 <%= text %>
                 <br>
               <% end %>
            <% else %>
              <%= @message.body %>
            <% end %>
          </div>
        </div>
      </div>

        <span id="message_id_<%=@message.id%>"></span>
        <div class="clear"></div>
    </div>

      <% end %>
<div hidden id="message_id_<%=@lastid%>"></div>