<%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'roleplays' %>

<h1 id="roleplay_title"><%= @roleplay.name %></h1>

<div class="row">

  <!-- column for actual chatting-->
  <div class="col-8 mx-5">
    <div class="rounded" id="messages" data-roleplay-id="<%= @roleplay.id %>">
      <%= render @roleplay.messages %>
    </div>
    <hr>

    <%= form_for @message, url: '#', remote: true, id: 'new_message' do |f| %>
      <%= hidden_field_tag 'roleplay_id', @roleplay.id %>
      <%= hidden_field_tag 'character_id', -1, id: 'character_id_field' %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, {class: 'form-control', id: 'message_body', disabled: true, value: 'Select a character to begin.'} %>
          <small class="text-muted">From 2 to 1000 characters</small>
        </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-lg', id: 'submit_field', disabled: true %>
    <% end %>

  </div>

  <!-- column for character selection-->
  <div class="col-3">
      <% @my_characters.each do |character| %>
      <div class="card bg-light border-dark character-card" id="card_for_<%=character.id%>" onclick="select_character(<%=character.id%>)">
          <div>
              <%= image_tag(character.image(:thumb),  :class => 'card-img-left') %>
              <div class="center-in-me-please">
                <h5 class="card-text"><%= character.name %></h5>
              </div>
          </div>
      </div>

     <%end%>
  </div>
</div>