<h1 id="roleplay_title"><%= @roleplay.name %></h1>

<div class="row">

  <!-- column for actual chatting-->
  <div class="col-8 mx-5">
    <% @messages = @roleplay.messages %>
    <div class="rounded" id="messages" data-roleplay-id="<%= @roleplay.id %>">      
      
    </div>
        <div class="form-group my-2">
          <textarea id="message_body" class="form-control"></textarea>
          <small class="text-muted">From 2 to 1000 characters</small>
        </div>
        <div id="submit_field" class="btn btn-primary btn-lg">Submit message</div>
    <br>
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="0" id="auto_checkbox">
      Automatically send when Enter is pressed
    </label>


  </div>
</br>
  <!-- column for character selection-->
  <div class="col-3">
      <% @my_characters.each do |character| %>
      <div class="card light-card border-dark character-card" id="card_for_<%=character.id%>"%>
          <div>
              <img src="<%=character.image(:thumb)%>" id="character-image-<%=character.id%>" class="card-img-left" />
              <div id="character-id-<%=character.id%>" class="center-in-me-please character-name-box">
                <h5 id="character-name-<%=character.name%>" class="character_name">&nbsp;<%= character.name %></h5>
              </div>
          </div>
      </div>

     <%end%>
  </div>
</div>



<script>
 $("#last_message_id").hide();
 $("#message_body").val("");
 $("#messages").scrollTop($("#messages")[0].scrollHeight);  //goes at the bottom of the scroll of messages so you don't have to scroll
  //select by default the first character in the list
  $(".character-card").first().removeClass('light-card');
  $(".character-card").first().addClass('dark-card');
  $(".character-card").click(function(){
    $(".character-card").removeClass('dark-card');
    $(".character-card").addClass('light-card');
    $(this).addClass('dark-card');
    $("#message_body").val("");//empty the submit message so the new character can write its thoughts
  });
 
  function load_messages(id_of_last_message_i_have) {
    $("#messages").load('/roleplays/roleplay_messages/<%=@roleplay.id%>', function(data1){
      $("#messages").scrollTop($("#messages")[0].scrollHeight);

    });
  }

  function check_and_load_messages() {
    var url = "/roleplays/last_message_id/<%=@roleplay.id%>";
    $.get(url, function(data){
     if(data != ""){ 
      var last_message = $("#message_id_" + String(data));
      if(last_message.length == 0){
        load_messages();
      }
     }
    });
    
    setTimeout(check_and_load_messages, 1000);
  }
  load_messages(-1);
  setTimeout(check_and_load_messages, 3000);

  $("#submit_field").click(function(){
    var message_body = $("#message_body").val();
    var id = $('.dark-card.character-card').attr('id').substring(9);//.children().second().attr('id');
    var name = $("#character-id-" + id).children().first().text();
    $.get('/roleplays/message_to_append/' + String(id), function(data1){
       
       $.post("/messages/save_message", {character_id: String(id), body: String(message_body), roleplay_id: "<%=@roleplay.id%>"}, function(data, status){
        $("#messages").append(data1 + "&nbsp;" + message_body + "</br><div class='clear'></div>"); 
        $("#message_body").val("");  
        $("#messages").scrollTop($("#messages")[0].scrollHeight);  
       });      
    });
  });

 $('#auto_checkbox').change(function(){
     if (this.checked) {
         $('#submit_field').disabled = true
     } else {
         $('#submit_field').disabled = false
     }
 });
</script>
